# Copier en .env.docker et remplir les valeurs
# .env.docker est exclu du git (contient les mots de passe)

DB_HOST=192.168.184.254
DB_PORT=1433
DB_NAME=foirfouille
DB_USER=sa
DB_PASSWORD=CHANGE_ME

PG_HOST=postgres
PG_PORT=5432
PG_DB=foirfouille
PG_USER=ff_api
PG_PASSWORD=CHANGE_ME_STRONG_PASSWORD

API_PORT=3000
